.hidden {
    display: none;
}

html {
    margin: 0;
    height: 100%;
}

body {
    text-align:center;
    font-family: Verdana;
    color: #555;
    background: linear-gradient(-45deg, orange, pink, teal); 
    /*background-image: url("/brokerage/gradient_cup.png");*/
    background-repeat: no-repeat;
    
    padding-top: 100px;
}

.accordionWrapper {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    border: none;
    transition: 0.4s;
}
.accordion.active, .accordion:hover {
    background-color: aquamarine;
}
div.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion:after {
    content: "\02795";
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.accordion.active:after {
    content: '\2796';
}

table {
    margin: 0px auto;
    text-align: left;
}
table td {
    padding-right: 10px;
}
