.alert {
    background: pink;
}

.warn {
    background: lightyellow;
}

.lightgreen {
    background: lightgreen;
}

.lightgrey {
    background: lightgrey;
}

.large {
    font-size: 24px;
}

.tiny {
    font-size: 6px;
}

input {
    font-size: 24;
    width: 50px;
}

.inputmedium {
    width: 75px;
}

.inputprice {
    width: 115px;
}

.inputwide {
    width: 400px;
}

input[type=checkbox] {
    -webkit-transform: scale(2);
    transform: scale(2);
}

.header {
    padding-bottom: 5px;
}

.container {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.vault {
    background: lightblue;
    margin-bottom: 5px;
}
